:host(app-transaction){
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
form{
  display: flex;
  flex-direction: column;
  width: 20rem;
}
mat-radio-group{
  display: flex;
  justify-content: space-evenly;
}

#transactionType{
  width: 45%;
  display: flex;
  align-self: center;
  justify-content: center;
  border-radius: 15px;
}
.mat-button-toggle-checked{
  background-color: #7ED098 !important;

}
.mat-button-toggle-group-appearance-standard, .mat-button-toggle-standalone.mat-button-toggle-appearance-standard {
   border: none !important;
}
