<mat-card>
  <form [formGroup]="transactionForm" novalidate>

    <mat-button-toggle-group
      aria-label="Select an option"
      id="transactionType"
      formControlName="transactionType"
    >
      <mat-button-toggle id="inflow" value="1">Inflow</mat-button-toggle>
      <mat-button-toggle value="0">Outflow</mat-button-toggle>
    </mat-button-toggle-group>

    <mat-form-field>
      <input matInput placeholder="Insert Amount" type="text" formControlName="amounts" [errorStateMatcher]="confirmValidParentMatcher">
      <mat-error>
        {{errorMessages.amount}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Transaction type</mat-label>
      <mat-select id="transactionCategory" formControlName="transactionCategory">
        <mat-option *ngFor="let category of transactionCategoriesList"
                    [value]="category.id"
                    id="category.category_name"
        >
          {{category.category_name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button
            [disabled]="transactionForm.invalid"
            (click)="InsertTransaction()"
            id="InsertTransaction"
    >
      Insert Transaction
    </button>

  </form>
</mat-card>
