
<p>Transaction overview</p>


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="Transaction type">
    <th mat-header-cell *matHeaderCellDef> Transaction type </th>
    <td  mat-cell *matCellDef="let element">
      <p *ngIf="element.transaction_type == false" class="Outcome"> Outcome</p>
      <p *ngIf="element.transaction_type == true" class="Inome"> Income</p> </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="Transaction category">
    <th mat-header-cell *matHeaderCellDef> Transaction category </th>
    <td mat-cell *matCellDef="let element"> {{element.Transactions_category.category_name}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef> amount </th>
    <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
  </ng-container>
  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef> Edit </th>
    <td mat-cell *matCellDef="let element"> <button (click)="updateTransaction(element)"> Edit </button> </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
